# Backend (API)
DATABASE_URL=postgres://postgres:postgres@localhost:5432/trampai
JWT_SECRET=sua-chave-secreta-aqui
RESEND_API_KEY=re_123456789
APP_URL=http://localhost:3000

# Mobile (Expo)
EXPO_PUBLIC_API_URL=http://localhost:3000
